.rates{
  max-width: fit-content;
  max-height: 540px;
  display:flex;
  flex-direction: row;
  gap:38px;
  margin-left:auto;
  margin-right: auto;
  @media screen and (max-width: 375px) {
    flex-direction: column;
    max-height: 1650px;

  }
}
.title{
  font-family: "Ferry Black",sans-serif;
  font-size: 40px;
  margin-left: 60px;
  padding: 0;
  max-width:400px;
}