.rates{
  max-width: 1320px;
  max-height: 540px;
  //display:flex;
  //flex-direction: row;
}
.title{
  font-family: "Ferry Black",sans-serif;
  font-size: 40px;
  margin-left: 60px;
  padding: 0;
  max-width:400px;
}