.header{
  height: 93px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.header2{
  background: #029491;
}
.logo{
     margin-left: 60px;
}
.logo2{
  margin-left: 20px;
  margin-top: 10px;
  width:111px;
}
.links{
  display: flex;
  width: 236px;
  flex-direction: row;
  gap: 49px;
  list-style-type: none;
  margin-top: 38px;
  @media screen and (max-width: 375px){
    display: none;
  }
}
.links_title{
  color:black;
  font-family:'Inter',sans-serif;
  font-size: 14px;
  font-weight:400;
  list-style-type: none;

  :hover{
    color: #555252;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  height: 26px;
  margin-top: 33px;
  gap:20px;
  margin-right: 60px;
  @media screen and (max-width: 375px){
    display: none;
  }
}
hr{
  width: 2px;
  height: 26px;
  background: #7CE3E1;
  margin-top: -1px;
  border: none;
}
.signin{
  cursor: pointer;
  background: #7CE3E1;
  width: 65px;
  border:none;
  border-radius: 5px;
  font-family: Inter,sans-serif;
  font-weight: 500;
  font-size: 14px;
  color:black;
  margin-top:5px;
  :hover{
    color:black;
  }
}
.register{
  background-color: white;
  border:none;
  font-family: Inter,sans-serif;
  font-weight: 400;
  font-size: 14px;
}
@media screen and (max-width: 375px) {
  .logo{
    margin-left: 14px;
    width: 111px;
  }
}

.burgermenu{
  width: 35px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap:5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 26px;
  cursor: pointer;
  @media screen and (min-width: 376px) {
    display: none;
  }
}
.line{
  background-color:#029491;
  width: 30px;
  height: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.white_line{
  background-color: white;
}
.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}
@media screen and (max-width: 375px) {
  .open {
    .mobile_menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #029491;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      transition: transform 0.3s ease;
      transform: translateY(-100%);
    }

    .open .mobile_menu {
      transform: translateY(0);
    }

    .mobile_links {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      position:absolute;
      top: 75px;
      right: 0;
      width: 100%;
      height: 120px;
      text-decoration: none;
      background: #029491;

    }
    .mobile_buttons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center; // Выравнивание по центру
      position:absolute;
      top:210px;
      right: 0;
      width: 100%;
      height: 120px;
      background: #029491;

    }
    .mobile_links_title {
      color:white;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 400;
      list-style-type: none;
      text-decoration: none;
    }
    .mobile_link{
      text-decoration: none;
    }
    .mobile_register{
      background-color: transparent;
      border:none;
      font-family: Inter,sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: white;
      opacity: 0.3;
    }
    .mobile_signin{
      cursor: pointer;
      background: #7CE3E1;
      width: 295px;
      height: 52px;
      border:none;
      border-radius: 5px;
      font-family: Inter,sans-serif;
      font-weight: 500;
      font-size: 14px;
      color:black;
      margin-top:5px;
      :hover{
        color:black;
      }
    }
  }
}

.mobile_links{
  display: none;
  @media screen and (max-width: 375px) {

  }
}
.mobile_buttons{
  display: none;
  @media screen and (max-width: 375px) {

  }

}