.card{
  width: 415px;
  height: 540px;
  border-radius: 10px;
  //border: 1px solid black;
}
.header{
  width: 415px;
  height: 132px;
}
.yellow{
  background: #FFB64F;
}
.blue{
  background: #7CE3E1;
}
.black{
  background: black;
}